@model List<Slider>

@{
    int count = 0;
}

 <!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">
        DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
                                                                   href="https://datatables.net">official DataTables documentation</a>.
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <a asp-action="create" class="btn btn-success">Create Slider</a>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Image</th>
                            <th>Order</th>
                            <th>Settings</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(Slider slider in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>
                                    <img style="width:70px;height:70px" src="~/img/@slider.ImageUrl" alt="Alternate Text" />
                                </td>
                                <td>
                                    @slider.Order
                                </td>
                                <td>
                                   <a class="btn btn-warning" asp-action="update" asp-route-id="@slider.Id">Update</a>
                                    <a class="btn btn-danger" asp-action="delete" asp-route-id="@slider.Id">Delete</a>
                                    <a class="btn btn-primary" asp-action="detail" asp-route-id="@slider.Id">Detail</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
